* {
  /* 
    -May want to add "border-box for "box-sizing so padding does not affect width
    -Reset margin and padding 
   */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* 
      -Background color is #344a72
    */
  background-color: #344a72;
  font-family: Raleway, sans-serif;
}

a {
  /* 
    Underlined links are ugly :)
   */
  text-decoration: none;
}

#container {
  /* 
    -Remember, margin: auto on left and right will center a block element 
    -I would also set a "max-width" for responsiveness
    -May want to add some padding
    */

  max-width: 400px;
  margin: 40px auto;
  padding: 15px 20px;
}

.form-wrap {
  /* 
      This is the white area around the form and heading, etc
    */
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

.form-wrap h1,
.form-wrap p {
  /* 
      May want to center these
    */
  text-align: center;
}

.form-wrap .form-group {
  /* 
      Each label, input is wrapped in .form-group
    */
  margin: 15px 0;
}

.form-wrap .form-group label {
  /* 
      Label should be turned into a block element
    */
  display: block;
}

.form-wrap .form-group input {
  /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
    */
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-wrap button {
  /* 
      Button should wrap accross 100% and display as block
      Background color for button is #49c1a2
    */
  width: 100%;
  display: block;
  height: 30px;
  background-color: #49c1a2;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}

.form-wrap button:hover {
  /* 
      Hover background color for button is #37a08e
    */
  background-color: #37a08e;
  cursor: pointer;
}

.form-wrap .bottom-text {
  /* 
      Bottom text is smaller
    */
  font-size: 12px;
}

footer {
  /* 
    Should be centered
   */
  text-align: center;
  color: #fff;
}

footer a {
  /* 
      Footer link color is #49c1a2
    */
  color: #49c1a2;
}
